.signIn {
    color: #fff;
    height: 100%;
    width: 100%;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(119, 87, 199, 0.98) 15%, rgba(84, 216, 223, 1) 100%, rgba(83, 219, 237, 1) 100%);
    border-radius: 1rem;
    box-sizing: border-box;
}

.header-signIn {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;

}

.signIn-Group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
}

.signIn-block label {
    display: block;
    margin-top: 1rem;
}

.signIn-block input {
    outline: none;
    border: 1px solid black;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    text-align: left;
    width: 90%;
}

.signIn-block input ::placeholder {
    text-align: left;
}

.butt {
    margin: 5rem auto;
}

.footer-text {
    margin-top: 6rem;
    text-align: center;
}

.footer-text a {
    color: #2A7B9B;
    color: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 69%, rgba(83, 219, 237, 1) 100%);
}