.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: linear-gradient(90deg, #0077b6, #00b4d8);
    color: white;
    position: fixed;
     width: 100%;
    
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .navbar-links a:hover {
    color: #7dc5d2;
  }
  