/* File: AuthLayout.css (Đã sửa lỗi Lệch Layout) */

.auth-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 1rem;
    user-select: none;
}

.auth-left {
    width: 60rem;
    height: 60rem;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 69%, rgba(83, 219, 237, 1) 100%);
    border-radius: 1rem;
    box-shadow:inset ;
    position: relative;
}
.auth-left img{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
}

.auth-right {
    width: 50rem;
    height: 60rem;
    border-radius: 1rem;
    /* XÓA: display: flex; justify-content: center; align-items: center; */
    /* Cho phép form con (SignIn/SignUp) lấp đầy và tự căn giữa nội dung của chúng */
}